@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-bullet-active {
  background-color: #4cceac !important; /* Use !important to override any inline styles */


}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}